section {
    width: 50%;
    height: 100%;
    background-color: #ffffff;
    color: #1e1f34;
    padding: 2vw;
    overflow-y: visible;
}

section h1 {
    margin-bottom: 15px;
}

.statistic {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 7px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.statistic div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.statistic img {
    height: 20px;
    margin-right: 10px;
}

.statistic h2 {
    font-size: 20px;
}

.statistic p {
    font-size: 17px;
    color: #999798;
}

strong {
    color: initial;
}

section input {
    width: 100%;
    background-color: #303b59;
    border: none;
    padding: 10px 0;
    color: #ffffff;
    border-radius: 50px;
    font-size: 17px;
    margin-top: 1vh;
    cursor: pointer;
}

section input:hover {
    background: linear-gradient(#6846ff, #322bea);
}

section p, section h2, section h1, .circle, input {
    animation: textUp 1s ease-in-out 2s both;
}

.statistic {
    animation: statistic 1s ease-in-out 2s both;
}

@keyframes textUp {
    0% {
        position: relative;
        left: -10px;
        opacity: 0;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}

@keyframes statistic {
    0% {
        position: relative;
        left: -10px;
        opacity: 0;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}

@media only screen and (max-width: 950px) {
    section {
        padding: 0 20px 0 20px;
        width: 100%;
    }

    .statistic {
        width: 100%;
        justify-content: space-between;
        padding: 15px 20px;
        margin-bottom: 10px;
    }

    section input {
        margin: 10px 0 10px;
    }
}
  
@media only screen and (max-width: 500px) {
    section {
        padding: 20px;
        width: 100%;
    }

    .statistic {
        width: 100%;
        justify-content: space-between;
        padding: 2vh 20px;
        margin-bottom: 20px;
    }
}